# 开发环境配置
VITE_APP_HOST=localhost
VITE_APP_HOST_PORT=3000

# API配置
VITE_API_URL=http://localhost:3000/api

# WebSocket配置
VITE_WS_PROTOCOL=ws
VITE_WS_HOST=localhost
VITE_WS_PORT=3000

VITE_TURN_URL=turn:xxxx:xxx
VITE_TURN_USERNAME=chr
VITE_TURN_PASSWORD=11111
